<div class="referral">
  <div class="row">
      <div class="col-md-6">
          <h3><%= referral.company.name %></h3>
          <h4><%= referral.details %></h4>
          <small>
            Link: <%= referral.link %>
            <br>
            <% unless referral.code.nil? || referral.code.empty? %>
            Code: <%= referral.code %>
            <br>
            <% end %>
            <% unless referral.expiration.nil? %>
            Expires: <%= referral.expiration %>
            <br>
            <% end %>
            <% unless referral.limit.nil? %>
            Limit: <%= referral.limit %>
            <br>
            <% end %>
          </small>
      </div>
      <div class="col-md-6 social-share">
          <%#= social_share_button_tag(referral.details) %>
          <%#= render_shareable %>
          <div class="buttons">

            <a href="https://twitter.com/share" class="twitter-share-button" data-text='<%= "Get \"#{referral.details}\" from #{referral.link}" %>' data-via="refcodes" data-count="none">Tweet</a>
            <div class="fb-share-button fb-share" data-href="<%= referral.link %>" data-type="button"></div>
          </div>
      </div>
    </div>
</div>