<div class="referral">
  <div class="row">
    <div class="col-md-12">
      <h4><%= referral.company.name %></h4>
      <h3 class="referral-details"><%= referral.details %></h3>
      <small>
        Link: <%= referral.link %>
        <br>
        <% unless referral.code.nil? || referral.code.empty? %>
        Code: <%= referral.code %>
        <br>
        <% end %>
        <% unless referral.expiration.nil? %>
        Expires: <%= referral.expiration %>
        <br>
        <% end %>
        <% unless referral.limit.nil? %>
        Limit: <%= referral.limit %>
        <br>
        <% end %>
      </small>
      <div class="buttons">

        <%= render partial: 'claims/claimer', locals: { referral: referral } %>

        <div class="social-share-buttons">
          <%= social_share_button_tag("#{referral.details} from #{referral.link} via @Refcodes", url: "http://refcod.es") %>
        </div>

        <span class="js-referral-<%= referral.id %>-claims claim-count">
          <%= pluralize((referral.claims.count - 1), 'claim') %> 
        </span>
      </div>

      <% if admin_signed_in? %>
      <br>
        <div class="admin-controls">
          <%= link_to "Edit", edit_referral_path(referral), class: 'btn btn-default' %>
          <%= link_to "Delete", referral, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
