<<<<<<< HEAD
#referral-deals
  #notice
    = render 'shared/flash', flash: flash
  
  - if @referrals.any?
    = render @referrals
    = link_to 'Load More Referrals', params.merge(page: @referrals.next_page), class: 'load-more-referrals',
      remote: true if @referrals.next_page
  - else
    %p
      We couldn't find any referrals from your search query.
=======
#container-left
  #logo= image_tag('logo.svg')
  
  .ref-form
    #banner-left
      %p Add a referral to the list

    .js-ref-form
      = render 'form', referral: @referral

#container-right
  #banner-right
    %p referral discounts for great tech products and services

  = render 'shared/nav'

  #referral-deals
    = render 'shared/flash', flash: flash
    
    - if @referrals.any?
      = render @referrals
      = link_to 'Load More Referrals', params.merge(page: @referrals.next_page), class: 'load-more-referrals',
        remote: true if @referrals.next_page
    - else
      %p
        We couldn't find any referrals from your search query.
>>>>>>> master
