<div id="container-left">

  <div id="logo">
    <%= image_tag('logo.svg') %>
  </div>

  <div id="banner-left">
    <p>Add a referral to the list<p>
  </div>

  <div class="js-ref-form">
    <%= render partial: 'form', locals: { referral: @referral, company: @company } %>
  </div>

</div>

<div id="container-right">

  <div id="banner-right">
    <p>referral discounts for great tech products and services</p>
  </div>

  <div id="navbar">
    <ul id="navlist">
      <li><%= link_to "Latest", root_path, class: 'latest-refcodes' %></li>
      <li><%= link_to "Trending", root_path, class: 'trending-refcodes' %></li>
      <li><%= link_to "Popular", root_path(most_popular: true), class: 'most-popular-refcodes' %></li>
      <li><%= link_to "About" %></li>
    </ul>
    <div id="navsearch">
      <div id="search-icon">
      <img src="/assets/search.svg">
      </div>
      <div id="search-field">
        <%= form_tag root_path, method: :get, class: "search", role: 'search' do %>
        <%= text_field_tag :query, params[:query], placeholder: "Type and hit enter to search" %>
        <!--<%= submit_tag "Search", name: nil %>-->
        <% end %>
      </div>
    </div>
    <ul id="navlist-mobile">
      <li><%= link_to "Latest", root_path, class: 'latest-refcodes' %></li>
      <li><%= link_to "Trending", root_path, class: 'trending-refcodes' %></li>
      <li><%= link_to "Popular", root_path(most_popular: true), class: 'most-popular-refcodes' %></li>
      <li><%= link_to "About" %></li>
    </ul>
  </div>

  <!--render about us partial?-->

  <div id="referral-deals">
    <%= render partial: 'shared/flash', locals: { flash: flash } %>
    <% if @referrals.any? %>
    <%= render partial: 'referral', collection: @referrals %>
    <%= link_to 'Load More Referrals', params.merge(page: @referrals.next_page), class: 'load-more-referrals',
        remote: true if @referrals.next_page %>
    <% else %>
      No referrals posted yet!
    <% end %>
  </div>

</div>

    


    

    
 