<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= tag :meta, name: "description", content: "Refcodes saves you money on the most popular online courses, tech products and services." %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:title" content="Refcodes" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.refcod.es" />
  <meta property="og:image" content="http://www.refcod.es/assets/logo-7d17def478a8832964e3073ee0850369.jpg" />
</head>
<body>

  <div class="container">
    <%= render 'layouts/header' %>

    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
</body>
</html>
